.ghc.environment*
tags
dist-newstyle
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
pkgs/.cabal
pkgs/.stack
TAGS
.DS_Store
*~
*#
*.prof
.stack-work

.uuid

result*
*.aux
*.log
*.pdf
*.gz
*.synctex(busy)

.terraform
./plutus-playground/deployment/nixops/network.json
**/nixops/machines.json
**/nixops/bastion_machines.json
**/nixops/network.json
plutus-playground/plutus-playground-client/src/Playground/*
